{% extends 'clinicaApp/base.html' %} {% load static %}

{% block contenido %}




{% load crispy_forms_tags %}
<div class="card text-center col-12 col-md-10 offset-md-2">

    <div class="card-body">
        <h3>Ventas mensuales por vendedor</h3>

<form method='POST'>
    {% csrf_token %}
    <label for="mes">Fecha desde:</label>
    <input type="month" id="mes" name="mes">
    {{ FiltrarForm2 }}

    <button type="submit"class="btn btn-lg btn-secondary">Enviar</button>
</form>
{% if mes %}
<h4> Usted ha filtrado el mes: {{ mes }} del año: {{ año }}  </h4>
{% endif %}
<section>

    <h4> <a href="{% url 'gerencia' %} " class="btn btn-info">Vovler</a></h4>

</section>
<table class="table-responsive">
    <thead>
        <tr>
            <th scope="col">Nombre del vendedor</th>
            <th scope="col">Cantidad de ventas</th>
        </tr>
    </thead>
    {% for i,j in a_ord.items %}
    <tbody>
        <tr>
            <td>{{i}}</td>
            <td>{{j}}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>

{% endblock %}
