{% extends 'clinicaApp/base.html' %} {% load static %}

{% block contenido %}

{% load crispy_forms_tags %}

<div class="card text-center col-12 col-md-6 offset-md-3">

    <div class="card-body">
        <h2 class="card-title">Agregar Pedido</h2>
        <form action="" method="post">{% csrf_token %}
            {{ pedido_form |crispy }}
            <button class="btn btn-primary" type="submit">Enviar Pedido</button>
            <p>{{mensaje}}</p>
        </form>
    </div>

</div>


{% endblock %}
