{% extends 'clinicaApp/base.html' %} {% load static %}

{% block contenido %}


{% load crispy_forms_tags %}
<div class="card">

    <div class="card-body">
        <h1>Lista de Pedidos</h1>

        <section>
            <div style="width: 60%; background-color: orangered; margin:auto;text-align: center; color:white;">
                    <!--{% for p in pedidos %}
                        <h3>{{ p.paciente }} </h3> 
                    {% endfor %}-->
                    <h4>Total de Pedidos de: {{pedidoPaciente}}</h4>
            </div>
        </section>
        <table class="table-responsive">
            <thead>
                <tr>
                    <th scope="col">producto</th>
                    <th scope="col">Lejos/Cerca</th>
                    <th scope="col">Izquierda/Derecha</th>
                    <th scope="col">Marco</th>
                    {% if perms.clinicaApp.view_precio %} 
                    <th scope="col">precio</th>
                    {% endif %}
                    <th scope="col">Forma de Pago</th>
                    <th scope="col">Estado del pedido</th>
                </tr>
            </thead>
            {% for p in pedidos %}
            <tbody>
                <tr>
                    <td>{{p.producto}}</td>
                    <td>{{p.Cerca_o_Lejos}}</td>
                    <td>{{p.Derecha_o_Izquierda}}</td>
                    <td>{{p.Marco}}</td>
                    {% if perms.clinicaApp.view_precio %}
                    <td>{{p.precio}}</td>
                    {% endif %}
                    <td>{{p.forma_de_Pago}}</td>
                    <td>{{p.estado_del_pedido}}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        <section>
            <div style="width: 40%; background-color: orangered; margin:auto;text-align: center; color:white;">
                {% if perms.clinicaApp.view_precio %}
                <p>Total del Pedidos: ${{total.precio__sum}}</p>
                {% endif %}
            </div>
        </section>
        
        {% endblock %}
                
    </div>

</div>